<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412429099515-vso8v6e2rd8cu63hlohisc8dbc22gafm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412429099515-vso8v6e2rd8cu63hlohisc8dbc22gafm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412429099515-1jn9q8arnfg84f1gvfbm20oosh7a8h05.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXzkqffW8hm9jI6PZbz1TDGSW60c8Cb2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>412429099515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ambitious.paing</string>
	<key>PROJECT_ID</key>
	<string>paing-f5f24</string>
	<key>STORAGE_BUCKET</key>
	<string>paing-f5f24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412429099515:ios:c60e9bd32e74bd79a32b5e</string>
</dict>
</plist>